.main-top
  .main-top__box
    .main-top__box__url-box
      .main-top__box__url-box__1
        = link_to '沿線から探す', secondtops_path
      .main-top__box__url-box__2
        = link_to '市区町村から探す', thirdtops_path