.main-top
  .main-top__box
    .main-top__box__url-box
      %h1
        充実したお得で安心のサービスで
        %br
        快適な住まいをご提供します。
      = link_to secondtops_path, class: "main-top__box__url-box__1" do
        %p 駅から探す
      = link_to thirdtops_path, class: "main-top__box__url-box__1" do
        %p エリアから探す