.main-top {
  background-image: image-url("PAK66_tokainobiru20130525_TP_V.jpg");
  height: 100vh;
  background-size:cover;
  &__box {
    height: 100vh;
    width: 1000px;
    margin: auto;
    overflow: scroll;
    justify-content: flex-start;
    &__url-box {
      display: flex;
      &__1 {
        width: 200px;
        height: 60px;
        padding-right: 10px;
        background-color: rgba(157, 194, 72, 0.7);
      }
      &__2 {
        width: 80px;
        height: 60px;
      }
    }
  }
}