.main {
  &__1 {
    display: flex;
    margin-bottom: 20px;
    &__title {
      width: 150px;
      font-size: 20px;
    }
    &__box {

      &__2 {
        display: flex;
        &__3{
          width: 150px;
          label {
            font-size: 20px;
            
          }
        }
      }
    }
  }
}